/* ELEMENTS */

/* COMPONENTS */

.center-button {
  text-align: center;
}

.portfolio-table {
  margin: 1% auto;
}

.total-value {
  text-align: right;
  width: 50%;
  margin: auto;
}

.pointer {
  cursor: pointer;
}

td input {
  text-align: right;
}

.react-confirm-alert-button-group > button {
  outline: none;
  background: #798de0;
  border: none;
  display: inline-block;
  padding: 6px 18px;
  color: #eee;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

/* LOADING */

.loading {
  margin-top: 18%;
}

/* COINSTABLE */

.center {
  margin: 3% auto;
}

.coin-image {
  width: 20px;
  height: 20px;
  text-align: center;
}

/* FOOTER */

#footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100vw;
  margin: 0;
  padding: 1%;
  line-height: 0.5em;
}

/* BREAKPOINTS */

@media only screen and (max-width: 800px) {
  .breakpoint {
    display: none;
  }
  #footer {
    line-height: 1.2em;
    padding: 0.2em;
    margin: auto;
    box-sizing: border-box;
    width: 100%;
  }
  #footer p {
    margin-bottom: 0.1em;
  }
  #main-heading {
    font-size: 1.5em !important;
  }
}
